*{
    margin: 0;
    padding: 0;
}

header{
    height:75px;
    background-color: purple;
    color: white;
    text-align: center;
    padding: 15px 0px 0px 0px;
}
.angkor-regular {
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
  }

section{
    text-align: center;
    padding-top:20px;
    font-size: 1rem;
}

div .card-body button{
    background-color: #5b9bf0;
}

div .card-body button a{
    text-decoration: none;
    color: black;
    
}

